<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.UmsOrganizitionMapper">
    <resultMap id="BaseResultMap" type="com.github.entity.UmsOrganizition">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="organizition_name" jdbcType="VARCHAR" property="organizitionName"/>
        <result column="organizition_icon" jdbcType="VARCHAR" property="organizitionIcon"/>
        <result column="organizition_type" jdbcType="BOOLEAN" property="organizitionType"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="BOOLEAN" property="isDelete"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="sort" jdbcType="BIGINT" property="sort"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, organizition_name, organizition_icon, organizition_type, pid, create_time, update_time, 
    is_delete, `status`, `describe`, sort
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_ums_organizition
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ums_organizition
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.entity.UmsOrganizition"
            useGeneratedKeys="true">
    insert into t_ums_organizition (organizition_name, organizition_icon, 
      organizition_type, pid, create_time, 
      update_time, is_delete, `status`, 
      `describe`, sort)
    values (#{organizitionName,jdbcType=VARCHAR}, #{organizitionIcon,jdbcType=VARCHAR}, 
      #{organizitionType,jdbcType=BOOLEAN}, #{pid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BOOLEAN}, #{status,jdbcType=BOOLEAN}, 
      #{describe,jdbcType=VARCHAR}, #{sort,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.entity.UmsOrganizition"
            useGeneratedKeys="true">
        insert into t_ums_organizition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="organizitionName != null">
                organizition_name,
            </if>
            <if test="organizitionIcon != null">
                organizition_icon,
            </if>
            <if test="organizitionType != null">
                organizition_type,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="describe != null">
                `describe`,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="organizitionName != null">
                #{organizitionName,jdbcType=VARCHAR},
            </if>
            <if test="organizitionIcon != null">
                #{organizitionIcon,jdbcType=VARCHAR},
            </if>
            <if test="organizitionType != null">
                #{organizitionType,jdbcType=BOOLEAN},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="describe != null">
                #{describe,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.entity.UmsOrganizition">
        update t_ums_organizition
        <set>
            <if test="organizitionName != null">
                organizition_name = #{organizitionName,jdbcType=VARCHAR},
            </if>
            <if test="organizitionIcon != null">
                organizition_icon = #{organizitionIcon,jdbcType=VARCHAR},
            </if>
            <if test="organizitionType != null">
                organizition_type = #{organizitionType,jdbcType=BOOLEAN},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="describe != null">
                `describe` = #{describe,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.entity.UmsOrganizition">
    update t_ums_organizition
    set organizition_name = #{organizitionName,jdbcType=VARCHAR},
      organizition_icon = #{organizitionIcon,jdbcType=VARCHAR},
      organizition_type = #{organizitionType,jdbcType=BOOLEAN},
      pid = #{pid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      `status` = #{status,jdbcType=BOOLEAN},
      `describe` = #{describe,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>