<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.UmsOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.github.entity.UmsOrganization">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_icon" jdbcType="VARCHAR" property="organizationIcon" />
    <result column="organization_type" jdbcType="BOOLEAN" property="organizationType" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, organization_name, organization_icon, organization_type, pid, create_time, update_time, 
    is_delete, `status`, `describe`, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ums_organization
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ums_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.entity.UmsOrganization" useGeneratedKeys="true">
    insert into t_ums_organization (organization_name, organization_icon, 
      organization_type, pid, create_time, 
      update_time, is_delete, `status`, 
      `describe`, sort)
    values (#{organizationName,jdbcType=VARCHAR}, #{organizationIcon,jdbcType=VARCHAR}, 
      #{organizationType,jdbcType=BOOLEAN}, #{pid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BOOLEAN}, #{status,jdbcType=BOOLEAN}, 
      #{describe,jdbcType=VARCHAR}, #{sort,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.entity.UmsOrganization" useGeneratedKeys="true">
    insert into t_ums_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="organizationName != null">
        organization_name,
      </if>
      <if test="organizationIcon != null">
        organization_icon,
      </if>
      <if test="organizationType != null">
        organization_type,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationIcon != null">
        #{organizationIcon,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null">
        #{organizationType,jdbcType=BOOLEAN},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.entity.UmsOrganization">
    update t_ums_organization
    <set>
      <if test="organizationName != null">
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationIcon != null">
        organization_icon = #{organizationIcon,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null">
        organization_type = #{organizationType,jdbcType=BOOLEAN},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.entity.UmsOrganization">
    update t_ums_organization
    set organization_name = #{organizationName,jdbcType=VARCHAR},
      organization_icon = #{organizationIcon,jdbcType=VARCHAR},
      organization_type = #{organizationType,jdbcType=BOOLEAN},
      pid = #{pid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      `status` = #{status,jdbcType=BOOLEAN},
      `describe` = #{describe,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectBySelective" parameterType="com.github.entity.UmsOrganization" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ums_organization
    where 1 = 1
    <if test="organizationName != null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="organizationName != null">
      and organization_name = #{organizationName,jdbcType=VARCHAR}
    </if>
    <if test="organizationIcon != null">
      and organization_icon = #{organizationIcon,jdbcType=VARCHAR}
    </if>
    <if test="organizationType != null">
      and organization_type = #{organizationType,jdbcType=BOOLEAN}
    </if>
    <if test="pid != null">
      and pid = #{pid,jdbcType=BIGINT}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="isDelete != null">
      and is_delete = #{isDelete,jdbcType=BOOLEAN}
    </if>
    <if test="status != null">
      and `status` = #{status,jdbcType=BOOLEAN}
    </if>
    <if test="describe != null">
      and `describe` = #{describe,jdbcType=VARCHAR}
    </if>
    <if test="sort != null">
      and sort = #{sort,jdbcType=BIGINT}
    </if>
  </select>
</mapper>