<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.UmsRoleMapper">
  <resultMap id="BaseResultMap" type="com.github.entity.UmsRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rolecode" jdbcType="VARCHAR" property="rolecode" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rolecode, rolename, create_time, update_time, is_delete, `status`, `describe`, 
    sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ums_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ums_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.entity.UmsRole" useGeneratedKeys="true">
    insert into t_ums_role (rolecode, rolename, create_time, 
      update_time, is_delete, `status`, 
      `describe`, sort)
    values (#{rolecode,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BOOLEAN}, #{status,jdbcType=BOOLEAN}, 
      #{describe,jdbcType=VARCHAR}, #{sort,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.entity.UmsRole" useGeneratedKeys="true">
    insert into t_ums_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolecode != null">
        rolecode,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolecode != null">
        #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.entity.UmsRole">
    update t_ums_role
    <set>
      <if test="rolecode != null">
        rolecode = #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.entity.UmsRole">
    update t_ums_role
    set rolecode = #{rolecode,jdbcType=VARCHAR},
      rolename = #{rolename,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      `status` = #{status,jdbcType=BOOLEAN},
      `describe` = #{describe,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectBySelective" parameterType="com.github.entity.UmsRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ums_role
    where 1 = 1
    <if test="id != null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="rolecode != null">
      and rolecode = #{rolecode,jdbcType=VARCHAR}
    </if>
    <if test="rolename != null">
      and rolename = #{rolename,jdbcType=VARCHAR}
    </if>
    <if test="isDelete != null">
      and is_delete = #{isDelete,jdbcType=BOOLEAN}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="status != null">
      and `status` = #{status,jdbcType=BOOLEAN}
    </if>
    <if test="describe != null">
      and `describe` = #{describe,jdbcType=VARCHAR}
    </if>
    <if test="sort != null">
      and sort = #{sort,jdbcType=BIGINT}
    </if>
  </select>
</mapper>